$container_bg: #1a1a1a;

$text_color: #f1faee;
$main_color: #ff002b;

$header_height: 100px;
$header_mb_height: 70px;
$footer_height: 180px;
$footer_mb-height: 200px;

$border_radius: 30px;

$box_shadow: 0px 15px 27px 0px rgba(62,66,66,0.22);

$font_family: 'Montserrat', sans-serif;
